<!DOCTYPE html>

<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <button class="color-picker">Change Color</button>
    <button class="home-btn"><a href="/">Home</a></button>

    <main class="book-details-wrap">
      <img class="background-cover" src="<%= bookDetails.cover %>" alt="">
      <img class="main-cover" src="<%= bookDetails.cover %>" alt="book-cover" />
      <h3 class="bold-text"><%= bookDetails.title %></h3>
      <h4 class="bold-text">By: <%= bookDetails.author %></h2>
      <p><%= bookDetails.description %></p>

      <span class="extra-detail-label bold-text">
        Rating:
        <span class="extra-detail-text"><%= bookDetails.rating %>/5</span>
      </span>


    </main>

    <script src="/Javascript/color-changer.js"></script>
  </body>
</html>
